.flex-break 
{
 margin-bottom: 40px;
}
html,body
{
height:100%;
margin:0;
}
body 
{
background-image: url('../image/2b61c6e1-dc2c-41b7-8b85-a5f7144cb9db.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family: 'Roboto', sans-serif;
position: relative;
background-size: cover;
text-align: center; 
width:100%;
}
.rules 
{
position: absolute;
top:440px;
right:200px;
font-weight:bolder;
font-size:16px;
font-weight:bolder;
text-align:center;
}
.button 
{
background-color:lightblue;
border:black;
color: black;
padding:20px;
text-align:center;
font-weight:bold;
text-decoration:none;
display:block;
font-size:20px;
bottom:0%;
cursor:pointer;
position:relative;
}
.quiz-container
{ 
display:flex;
color:white;
flex-direction:row;
opacity:1;
border-radius:10px;
width:100svh;
max-height:40svh;
position:relative;
left:30%;
right:20%;
bottom:10svh;
top:13svh;
}
.containerflex
{
background-color: DodgerBlue;
border:2px solid body;
position:relative;
font-weight:bold;
font-size:16px;
padding:10px;
margin-bottom:30px;
font-size:16px;
text-align: center;
}
.score
{
color:#fff;
font-size:20px;
bottom :0%;
position:relative;
margin-left: auto;
margin-right: auto;
font-weight:bold;
}
.ansbtn 
{
top:0%;
bottom:0%;
position:relative;
border: 1px solid #0066cc;
background-color:#0F62FE;
color: #ffffff;
padding: 5px 10px;
}

.ansbtn:hover 
{
border: 1px solid #0099cc;
background-color: #005FCC;
color: #ffffff;
padding: 5px 10px;
}
.ansbtn:disabled,
.ansbtn[disabled]
{
border: 1px solid #999999;
background-color: #cccccc;
color: #ffffff;
}
.answerbtn
{
width:50%;
aspect-ratio: 2/1;
border: 2px solid body;
display:grid;
grid-template-columns: 1fr 1fr;
position:relative;
left:25%;
font-weight:bold;
font-size: 30px;
}
.header 
{
text-align:center; 
display:flex;
flex-direction:column;
top:25svh;
left:35svh;
position:relative;
width:20svh;
justify-content:center;
}
.about-header 
{
text-align:center; 
top:25svh;
left:50svh;
position:relative;
width:80svh;
justify-content:center;
}

.container 
{
 position: relative;
 top: 200px;
 }
 
.header h1 
{
color: #fff;
font-size:20px;
margin-top:10svh;
margin-bottom:20px;
font-weight:bold;
text-transform: uppercase; 
}
.btn
{
background-color: #005FCC;
border: 3px solid #005FCC;
border-radius: 10px;
top:0%;
box-shadow: 0 0 5px 1px;
padding: 10px;
font-weight: bold;
color: #FFFFFF;
font-size: 20px;
}

.navigation
{
display: relative;
justify-content: center;
align-items: center;
}
@media(max-width:1100px) {
.containerflex 
{
font-size:10px;
max-width:48svh;
max-height:30svh;
justify-content:center;
}
.flex-break {
 flex-basis: 0dvh;;
}
.btn
{
background-color: #005FCC;
border: 3px solid #005FCC;
border-radius:5px;
top:0%;
box-shadow: 0 0 5px 1px;
padding: 5px;
font-weight: bold;
color: #FFFFFF;
font-size: 16px;
}
.quiz-container 
{
display:flex;
flex-direction:column;
top:20svh;
max-width:58svh;
max-height:40svh;
font-size:10px;
left:12dvh;
right:10dvh;
}
.header 
{
text-align:center; 
justify-content:center;
display:flex;
flex-direction:row;
top:20dvh;
left:18dvh;
position:relative;
}
.about-header 
{
text-align:center; 
top:25svh;
left:15svh;
position:relative;
width:40svh;
justify-content:center;
}
}
